CRON_DB_PATH=/volumes/crontab-ui

# your serviceAccountKey.json goes here
GOOGLE_APPLICATION_CREDENTIALS_JSON={...}

# directory where backups should be uploaded
BUCKET_PATH=gs://my-bucket.appspot.com/backups

# postgres database details
PGHOST=srv-captain--db-app-name
PGPORT=5432
PGDATABASE=my_fancy_db
PGUSER=postgres
PGPASSWORD=very_secret

# sleep time between backups
SLEEP=12h
